<a href="/productos"><h1>Insertar</h1></a>

<form method="POST">
    <label for="codigo">C&oacute;digo: </label>
    <input type="text" id="codigo" name="codigo" placeholder="codigo">
    <br>
    <label for="nombre_produ">Nombre: </label>
    <input type="text" id="nombre_produ" name="nombre_produ" placeholder="nombre_produ">
    <br>
    <label for="existencia">Existencia: </label>
    <input type="text" id="existencia" name="existencia" placeholder="existencia">
    <br>
    <label for="fecha_caducidad">Fecha de Caducidad: </label>
    <input type="text" id="fecha_caducidad" name="fecha_caducidad" placeholder="fecha_caducidad">
    <br>
    <label for="no_lote">No. Lote: </label>
    <input type="no_lote" id="no_lote" name="no_lote" placeholder="no_lote">
    <br>
    <button type="submit" class="btn btn-primary">Insertar</button>
</form>